body{
    background-color: #24353f;
    font-family: 'Titillium Web', sans-serif;
}
.design-login{
    box-shadow: -1px 1px 27px 4px rgba(0,0,0,0.92);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 40%;
    color: #189eb7;
    font-size: 40px;
    text-align: center;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

nav{
    box-shadow: -1px 1px 27px 4px rgba(0,0,0,0.92);
    
}
a{
    text-decoration: none;
    font-size: 25px;
    color: white;
    padding: 5px;
}
button{
    color: #ced4da !important;
}